@import "tailwindcss";
@tailwind utilities;

html,
body {
  @apply min-w-screen font-sans m-0 min-h-screen text-gray-700;
  background: radial-gradient(
    circle,
    rgba(237, 214, 145, 0.7) 21%,
    rgba(253, 252, 248, 0.6) 33%,
    rgba(247, 241, 224, 1) 100%
  );  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
@apply relative 
}

button {
  @apply cursor-pointer
}
.chartHeader {
  @apply sm:text-5xl text-3xl tracking-widest font-normal sm:font-bold text-[#e89b53]/90 font-[Dancing_Script] text-start ml-[4rem] my-10
}


h3 {
  @apply tracking-widest font-semibold
}


input[type="text"],
input[type="date"],
input[type="time"] {
  @apply w-full px-3 py-2 text-xs sm:text-base mb-1 border border-[#e6c155] rounded-full text-[darkGrey] flex items-center justify-center backdrop-blur-xl bg-white/20 shadow-sm;
}

input:hover {
  border-color: #e89b53;
}
 fieldset {
  @apply flex flex-1/2 flex-col md:py-9 md:flex-row justify-center h-fit gap-10 p-3 sm:p-6 text-gray-500}

form {
  @apply flex w-fit h-auto relative flex-row sm:gap-10 gap-3 items-center justify-center md:backdrop-blur-md p-3 md:p-6 rounded-xl md:shadow-lg mb-40 sm:shadow-none sm:backdrop-blur-none}

.btnEffect {
  @apply
    inline-flex
    items-center
    justify-center
    gap-1 md:gap-2

    px-4 md:px-6
    py-2 md:py-3

    text-xs sm:text-sm md:text-base

    rounded-full

    bg-[#ebc155cc]
    text-white

    font-medium
    tracking-tight md:tracking-wide
    whitespace-nowrap
    shadow-md

    transition-all
    duration-300
    ease-out

    hover:-translate-y-0.5
    hover:shadow-xl
    hover:bg-[#e89b53]

    active:scale-95;
}
.gridContainer {
  @apply border-e border-b flex items-center justify-center border-gray-300
}

option, select, label {
  @apply text-xs md:text-base
}
/* SVG Data Attributes */
[data-name="square"],
[data-name="opposition"] {
  stroke: #ce8063;
  stroke-width: 1px;
}

[data-name="trine"] {
  stroke: #4fa091;
  stroke-width: 1px;
}

[data-name="sextile"] {
  stroke: #afc8e7;
  stroke-width: 1px;
}
[data-name="quincunx"] {
  stroke: #c4a484;
  stroke-width: 0.7px;
  stroke-dasharray: 5 3;
}

[data-name="semiSextile"] {
  stroke: #c4a484;
  stroke-width: 0.7px;
  /* stroke-dasharray: 5 2; */
}

th, td {
  @apply border border-black p-2 text-center w-4 h-4 box-border;
}
.btnGreen {
  @apply  border-none cursor-pointer
          transition-all duration-300 mb-1 tracking-widest hover:bg-[#40584a] hover:text-white rounded-full py-3 px-12 text-sm lg:text-lg
}
td.empty {
  border: none;
}

.no-border-table td,
.no-border-table th {
  @apply border-0 p-2 text-center w-4 h-4 box-border;
}

.circle-wrapper {
  --radius: 280px;
}

.infoRow {
  @apply 
  flex
  justify-between
  sm:gap-4
  gap-2
  items-center
  text-neutral-600;
}

.infoRow span {
  @apply
  text-neutral-500;
}

.infoRow strong {
  @apply
  font-medium
  text-[#3f4f43];
}